.Div-card {
    width: 350px;
    height: auto;
    margin: 100px 0 10px 100px;
    border: 4px solid darkgreen;
    font-family: "Comic Sans MS", "Arial";
}
.Div-card-new {
    width: 350px;
    height: auto;
    margin: 100px 0 10px 100px;
    border: 4px solid lightcoral;
    font-family: "Arial";
    background: lightyellow;
}
.Div-card-caption {
    display: flex;
    justify-content: center;
}
.Caption {
    display: inline-block;
    width: 270px;
    color: #020289;
    margin: 0 0 0 5px;
    word-break: break-all;
    text-align: center;
}
.Caption-new {
    display: inline-block;
    width: 270px;
    color: #004701;
    margin: 5px 0 0 5px;
    word-break: break-all;
    text-align: center;
}
.Input-check {
    display: none;
}
.Label-check{
    display: flex;
    margin: 10px 5px 10px;
}
.Checkmark {
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid orangered;
    cursor: pointer;
}
.Checkmark::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(checkmark.png);
    background-size: cover;
    opacity: 0;
}
.Input-check:checked + .Checkmark::before {
    opacity: 1;
}
.Checkmark-app {
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid orangered;
    background: url(nvo.png);
    background-size: cover;
    cursor: pointer;
}
.Checkmark-app::before{
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(vo.png);
    background-size: cover;
    opacity: 0;
}
.Input-check:checked + .Checkmark-app::before {
    opacity: 1;
}
.Input-check:checked + .Checkmark-app {
    background: none;
}
hr {
    width: 200px;
    margin: 0 auto;
}
.Div-card-text {
    margin: 10px;
    text-align: justify;
    text-indent: 20px;
    word-break: break-all;
}
.editHeader {
    width: 270px;
    border: none;
    outline: none;
    color: #003108;
    font-family: "Comic Sans MS", "Arial";
    font-size: 2em;
    font-weight: bolder;
    margin: 0;
    text-align: center;
}
textarea {
    width: 320px;
    height: 200px;
    margin: 0 -15px 0;
    border: none;
    box-shadow: -10px 0 15px #2727b6;
    resize: none;
    outline: none;
}
.Div-check {
    margin: 50px 0 0 100px;
    display: flex;
}
.Div-view-edit {
    height: 29px;
    margin-top: 10px;
    line-height: 29px;
    font-family: "Comic Sans MS", "Arial";
    font-size: 20px;
    font-weight: bolder;
}
